@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Automobiliu skelbimu portalas</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Automobilių skelbimai</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Marked">Marked</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Searches">Searches</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Viewed">Viewed</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="row">
            @if (SignInManager.IsSignedIn(User))
            {
                <div class="col-lg-3">
                    <h1 class="my-4">Meniu</h1>
                    <div class="list-group">
                        
                        @if (User.IsInRole("Administrator"))
                        {
                            <a asp-action="Index" asp-controller="Make" class="list-group-item">Makes</a>
                            <a asp-action="Index" asp-controller="Model" class="list-group-item">Models</a>
                            <a asp-action="Index" asp-controller="BodyType" class="list-group-item">Body types</a>
                            <a asp-action="Index" asp-controller="Color" class="list-group-item">Colors</a>
                            <a asp-action="Index" asp-controller="Damage" class="list-group-item">Damage types</a>
                            <a asp-action="Index" asp-controller="FuelType" class="list-group-item">Fuel types</a>
                            <a asp-action="Index" asp-controller="GearBox" class="list-group-item">Gearbox types</a>


                        }


                    </div>
                </div>
            }

           
                <div class="col-lg-9">

                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>
          

        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Automobiliu skelbimu portalas - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
